body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

section {
    padding: 100px 0;
}

h1 {
    font-size: 44px
}

h2 {
    font-size: 36px;
}

.divider {
    margin: 20px 0;
}

.divider::before,
.divider::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 4px;
    width: 112px;
    position: relative;
    bottom: 10px;
}

.divider i {
    margin: 0 15px;
    font-size: 32px;
}

/*-----header---*/
header {
    background-color: #2c3e50;
    height: 72px;
    line-height: 72px;
}

header a {
    color: #fff;
}

#logo {
    font-size: 24px;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.menu-link:hover {
    color: #1abc9c;
    text-decoration: none;
}

.menu-link {
    padding: 0 14px;
}

.menu-btn button {
    background-color: #1abc9c;
    color: #fff;
    padding: 10px;
}

/*-----jumbo---*/

#jumbo {
    background-color: #1abc9c;
    color: #fff;
}

#jumbo img {
    max-width: 240px;
    margin: 0 auto;
}

#jumbo p {
    font-size: 20px;
}

/*----portfolio---*/

#portfolio {
    color: #2c3e50;
}

#portfolio .divider::after,
#portfolio .divider::before {
    background-color: #2c3e50;
}

#portfolio img {
    max-width: 100%;
}

.portfolio-img {
    margin-bottom: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

    #jumbo h1 {
        font-size: 64px;
    }

    #jumbo p {
        font-size: 24px;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {



}
